mat-toolbar{
    background-color: rgb(152, 153, 155);
    color: white;
  }
  
  .spacer{
    flex: 1 1 auto;
  }

.hedsty{
    color: antiquewhite;
    margin-right: 30px;
    font-family: system-ui;
}
.text{
  font-family: system-ui;
  color: white;
}
.position{
  text-align: center;
}
