
<body>

   <section>
		<div class="ad-log-main">
			<div class="ad-log-in">
				<div class="ad-log-in-logo">
					<a href="index-2.html"><img src="assets/images/logo.png" alt=""></a>
				</div>
				<div class="ad-log-in-con">
			<div class="log-in-pop-right">
                    <h4>Login</h4>
                    <p>Connect to your space!</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name" class="validate">
                                <label class="">User name</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Password</label>
                            </div>
                        </div>

                        <div class="input-field s4">
                         <a class="waves-effect waves-light log-in-btn waves-input-wrapper " routerLink="/admin-space">adminspace</a>
                        </div>
                    </form>
                </div>
				</div>
			</div>
		</div>
   </section>

</body>

