<body>
    <!--== MAIN CONTRAINER ==-->
    <div class="container-fluid sb1">
        <div class="row">
            <!--== LOGO ==-->
            <div class="col-md-2 col-sm-3 col-xs-6 sb1-1">

             <!--  <a href="#" class="btn-close-menu"><i class="fa fa-times" aria-hidden="true"></i></a>
                <a href="#" class="atab-menu"><i class="fa fa-bars tab-menu" aria-hidden="true"></i></a> -->

                <a href="index-2.html" class=""><img src="assets/images/logo1.png" alt="" />
                </a>
            </div>
        </div>
    </div>

    <!--== BODY CONTNAINER ==-->
    <div class="container-fluid sb2 ">
        <div >
            <div class="sb2-1 ">
             <app-side-bar></app-side-bar>
            </div>
            <!--== BODY INNER CONTAINER ==-->
            <div class="sb2-2">
                <!--== breadcrumbs ==-->
                <div class="sb2-2-2">
                    <ul>
                        <li><a href="index-2.html"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                        </li>
                        <li class="active-bre"><a href="#"> Teacher List</a>
                        </li>
                        <li class="page-back"><a href="./"><i class="fa fa-backward" aria-hidden="true"></i> Logout</a>
                        </li>
                    </ul>
                </div>
                <!--== Students Details ==-->
                <div class="sb2-2-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-inn-sp">
                                <div class="inn-title">
                                    <h4>Teacher Details</h4>
                                    <p>All about teachers like name, teacher id,  email,groups, subject</p>
                                </div>
                                <div class="tab-inn">
                                    <div class="table-responsive table-desi">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>idT</th>
                                                    <th>Name</th>
                                                    <th>Surname</th>
                                                    <th>Email</th>
                                                    <th>Password</th>
													<th>Groups</th>
                                                    <th>Calendar </th>
													<th>View</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>6522</td>
                                                    <td><a href="#"><span class="list-enq-name">Marsha</span></a>
                                                    </td>
                                                    <td><a href="#"><span class="list-enq-name">Mash</span></a>
                                                    </td>
                                                    <td>chadengle@dummy.com</td>
                                                    <td>ST17241</td>
                                                    <td>C1/D1</td>
                                                    <td><a href="">link </a></td>
													<td><a href="admin-student-details.html" class="ad-st-view">View</a></td>
                                                </tr>

                                                <tr>
                                                    <td>6522</td>
                                                    <td><a href="#"><span class="list-enq-name">Marsha</span></a>
                                                    </td>
                                                    <td><a href="#"><span class="list-enq-name">Mash</span></a>
                                                    </td>
                                                    <td>chadengle@dummy.com</td>
                                                    <td>ST17241</td>
                                                    <td>C1/D1</td>
                                                    <td><a href="">link </a></td>
													<td><a href="admin-student-details.html" class="ad-st-view">View</a></td>
                                                </tr>

                                                <tr>
                                                    <td>6522</td>
                                                    <td><a href="#"><span class="list-enq-name">Marsha</span></a>
                                                    </td>
                                                    <td><a href="#"><span class="list-enq-name">Mash</span></a>
                                                    </td>
                                                    <td>chadengle@dummy.com</td>
                                                    <td>ST17241</td>
                                                    <td>C1/D1</td>
                                                    <td><a href="">link </a></td>
													<td><a href="admin-student-details.html" class="ad-st-view">View</a></td>
                                                </tr>

                                                <tr>
                                                    <td>6522</td>
                                                    <td><a href="#"><span class="list-enq-name">Marsha</span></a>
                                                    </td>
                                                    <td><a href="#"><span class="list-enq-name">Mash</span></a>
                                                    </td>
                                                    <td>chadengle@dummy.com</td>
                                                    <td>ST17241</td>
                                                    <td>C1/D1</td>
                                                    <td><a href="">link </a></td>
													<td><a href="admin-student-details.html" class="ad-st-view">View</a></td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
