<body>
    <app-header-h></app-header-h>
    
    <!--SECTION START-->
    <section>
        <div class="container com-sp pad-bot-70">
            <div class="row">
                <div class="cor about-sp">
    
                    <div class="ed-about-tit">
                        <div class="con-title">
                            <h2>History and <span> Sections</span></h2>
                            <p>Here you'll find all the necessary informations about ENSI and all its sections.</p>
                        </div>
                    </div>
                    <div class="s18-age-event l-info-pack-days">
                        <ul>
                            <li>
                                <div class="age-eve-com age-eve-1">
                                    <img src="assets/images/icon/awa/1.png" alt="">
                                </div>
                                <div class="s17-eve-time ml-4">
                                    <div class="s17-eve-time-msg ml-4">
                                        <h4>Welcome to ENSI </h4>
                                        <p>Established in 1966 Donec quis turpis vitae sem lobortis sodales. Suspendisse blandit magna a purus porta feugiat. Sed nec auctor erat. Nam eu dui lectus. Etiam suscipit vel mauris eget bibendum.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="age-eve-com age-eve-1">
                                    <img src="assets/images/icon/awa/2.png" alt="">
                                </div>
                                <div class="s17-eve-time ml-4">
                                    <div class="s17-eve-time-msg ml-4">
                                        <h4>GL</h4>
                                        <p>Praesent ac velit non eros maximus porta in suscipit elit. Aenean viverra lorem quis mattis accumsan. Etiam facilisis magna ut diam pulvinar condimentum.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="age-eve-com age-eve-1">
                                    <img src="assets/images/icon/awa/3.png" alt="">
                                </div>
                                <div class="s17-eve-time ml-4">
                                    <div class="s17-eve-time-msg ml-4">
                                        <h4>AI</h4>
                                        <p>Donec at ligula turpis. Sed viverra velit ac urna dictum, nec pellentesque est rhoncus. Nam sollicitudin molestie consequat. Praesent ullamcorper nulla tellus, venenatis rhoncus lacus elementum eget. </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="age-eve-com age-eve-1">
                                    <img src="assets/images/icon/awa/4.png" alt="">
                                </div>
                                <div class="s17-eve-time ml-4">
                                    <div class="s17-eve-time-msg ml-4">
                                        <h4>IoT</h4>
                                        <p>Sed nec egestas dui. Donec facilisis mauris sit amet auctor pellentesque. Suspendisse sagittis sagittis lobortis. Suspendisse rutrum eros vitae ex egestas, sed lobortis turpis facilisis.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="age-eve-com age-eve-1">
                                    <img src="assets/images/icon/awa/5.png" alt="">
                                </div>
                                <div class="s17-eve-time ml-4">
                                    <div class="s17-eve-time-msg ml-4">
                                        <h4>Finance</h4>
                                        <p>Qolor nibh dictum leo, ut accumsan dui purus eget turpis. Vestibulum molestie, tortor quis rutrum dapibus, tellus lorem volutpat tortor, ut efficitur justo nunc sed ante.</p>
                                        
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="age-eve-com age-eve-1">
                                    <img src="assets/images/icon/awa/2.png" alt="">
                                </div>
                                <div class="s17-eve-time ml-4">
                                    <div class="s17-eve-time-msg ml-4">
                                        <h4>Data Science</h4>
                                        <p>Praesent ac velit non eros maximus porta in suscipit elit. Aenean viverra lorem quis mattis accumsan. Etiam facilisis magna ut diam pulvinar condimentum.</p>
                                        
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="age-eve-com age-eve-1">
                                    <img src="assets/images/icon/awa/3.png" alt="">
                                </div>
                                <div class="s17-eve-time ml-4">
                                    <div class="s17-eve-time-msg ml-4">
                                        <h4>SLE</h4>
                                        <p>Donec at ligula turpis. Sed viverra velit ac urna dictum, nec pellentesque est rhoncus. Nam sollicitudin molestie consequat. Praesent ullamcorper nulla tellus, venenatis rhoncus lacus elementum eget. </p>
                          
                                    </div>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="ed-about-sec1">
                        <div class="col-md-6"></div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->
    
    <app-footer-h></app-footer-h>
    </body>
