<body>
    <div class="container-fluid sb1">
        <div class="row">
            <!--== LOGO ==-->
            <div class="col-md-2 col-sm-3 col-xs-6 sb1-1">

             <!--  <a href="#" class="btn-close-menu"><i class="fa fa-times" aria-hidden="true"></i></a>
                <a href="#" class="atab-menu"><i class="fa fa-bars tab-menu" aria-hidden="true"></i></a> -->

                <a href="index-2.html" class=""><img src="assets/images/logo1.png" alt="" />
                </a>
            </div>
        </div>
    </div>

    <!--== BODY CONTNAINER ==-->
    <div class="container-fluid sb2 ">
        <div >
            <div class="sb2-1 ">
                <app-side-bar></app-side-bar>
            </div>
            <!--== BODY INNER CONTAINER ==-->
            <div class="sb2-2">
                <!--== breadcrumbs ==-->
                <div class="sb2-2-2">
                    <ul>
                        <li><a href=""><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                        </li>
                        <li class="active-bre"><a href="#"> View Teacher Informations</a>
                        </li>
                        <li class="page-back"><a href="" routerLink="/home" routerLinkActive="active" ><i class="fa fa-backward" aria-hidden="true"></i> Logout</a>
                        </li>
                    </ul>
                </div>

                <!--== User Details ==-->
                <div class="sb2-2-3">
                    <div class="row">
                        <div class="col-md-12">
						<div class="box-inn-sp admin-form">
                                <div class="inn-title">
                                    <h4>View Teacher Informations</h4>
                                    <p>Here you can edit your website basic details URL, Phone, Email, Address, User and password and more</p>
                                </div>
                                <div class="tab-inn">

                                    <div class="style_info">
                                        <div >
                                            <label> <b> First Name: </b></label> {{teacher.firstNamet}}
                                        </div>
                                        <div>
                                            <label> <b> Last Name: </b></label> {{teacher.lastNamet}}
                                        </div>
                                        <div>
                                            <label> <b> Email Id: </b></label> {{teacher.emailIdt}}
                                        </div>
                                        <div>
                                            <label> <b> Groups: </b></label> {{teacher.groups}}
                                        </div>
                                       
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</body>
