<body>
    <div class="container-fluid sb1">
        <div class="row">
            <!--== LOGO ==-->
            <div class="col-md-2 col-sm-3 col-xs-6 sb1-1">

             <!--  <a href="#" class="btn-close-menu"><i class="fa fa-times" aria-hidden="true"></i></a>
                <a href="#" class="atab-menu"><i class="fa fa-bars tab-menu" aria-hidden="true"></i></a> -->

                <a href="index-2.html" class=""><img src="assets/images/logo1.png" alt="" />
                </a>
            </div>
        </div>
    </div>

    <!--== BODY CONTNAINER ==-->
    <div class="container-fluid sb2 ">
        <div >
            <div class="sb2-1 ">
                <app-side-bar></app-side-bar>
            </div>
            <!--== BODY INNER CONTAINER ==-->
            <div class="sb2-2">
                <!--== breadcrumbs ==-->
                <div class="sb2-2-2">
                    <ul>
                        <li><a href=""><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                        </li>
                        <li class="active-bre"><a href="#"> Add new teacher</a>
                        </li>
                        <li class="page-back"><a href="" routerLink="/admin-space" routerLinkActive="active"><i class="fa fa-backward" aria-hidden="true"></i> Logout</a>
                        </li>
                    </ul>
                </div>

                <!--== User Details ==-->
                <div class="sb2-2-3">
                    <div class="row">
                        <div class="col-md-12">
						<div class="box-inn-sp admin-form">
                                <div class="inn-title">
                                    <h4>Add New Teacher Informations</h4>
                                    <p>Here you can edit your website basic details URL, Phone, Email, Address, User and password and more</p>
                                </div>
                                <div class="tab-inn">
                                    <div>
                                        
                                        <form (ngSubmit) = "onSubmit()" [formGroup]="createt">
                                        
                                            <div class="form-group">
                                                <label> First Name</label>
                                                <input formControlName="firstname" type="text" class ="form-control" id = "firstNamet"
                                                    [(ngModel)] = "teacher.firstNamet" name = "firstNamet" >
                                                <span *ngIf="firstname?.invalid && firstname?.touched" class="text-danger">firstname is required!</span>
                      
                                            </div>
                                        
                                            <div class="form-group">
                                                <label> Last Name</label>
                                                <input formControlName="lastname" type="text" class ="form-control" id = "lastNamet"
                                                    [(ngModel)] = "teacher.lastNamet" name = "lastNamet">
                                                <span *ngIf="lastname?.invalid && lastname?.touched" class="text-danger">lastname  is required!</span>
                                            </div>
                                        
                                            <div class="form-group">
                                                <label> Email Id</label>
                                                <input formControlName="email" type="text" class ="form-control" id = "emailIdt" 
                                                    [(ngModel)] = "teacher.emailIdt" name = "emailIdt" >
                                                    <span *ngIf="email?.invalid && email?.touched" class="text-danger">email is is required or format is invalid!</span>
                                            </div>

                                            <div class="form-group">
                                                <label> Groups</label>
                                                  <input formControlName="groupes" type="text" class ="form-control" id = "groups"
                                                    [(ngModel)] = "teacher.groups" name = "groups" > 
                                                    <span *ngIf="groupes?.invalid && groupes?.touched" class="text-danger">group is is required!</span>
                                            </div>

                                            <div class="form-group">
                                                <label> Password</label>
                                                <input formControlName="password" type="text" class ="form-control" id = "passwordt"
                                                    [(ngModel)] = "teacher.passwordt" name = "passwordt" >
                                                    <span *ngIf="password?.invalid && password?.touched" class="text-danger">password is is required!</span>
                                            </div>

                                            <div class="form-group">
                                                <label> AccessCode</label>
                                                <input formControlName="access" type="text" class ="form-control" id = "Codet"
                                                    [(ngModel)] = "teacher.Codet" name = "Codet" >
                                                    <span *ngIf="access?.invalid && access?.touched" class="text-danger">accescode is is required!</span>
                                            </div>
                                        
                                            <button class = "btn btn-success" type ="submit">Submit</button>
                                        
                                        </form>
                                        </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</body>
