.carousel-item{
    height: 45rem;
    background:#777;
    color: black;
    position:relative;

}
.titre1{
    font-weight: 200;
    height: 500px;
    width: 550px;
    font-family: system-ui;
    font-size:xx-large;

}
h2{
    color: black;
    height: 400px;
    width: 400px;
    position: relative;
    font-family: cursive;
   
}

button{
    margin-top: 10%;
    width: 12%;
    height: 10%;
    font-weight: bold;
    font-family: system-ui;
    font-size: x-small;
  }
