.carousel-item{
    height: 45rem;
    background:#777;
    color: black;
    position:relative;

}
.titre1{
    font-weight: 200;
    height: 550px;
    width: 1600px;

}
/*h2{
    color: black;
    height: 400px;
    width: 300px;
    position: relative;
}*/

button{
    height: 40px;
    width: 140px;
}
.buttons{
    height: 350px;
    width: 300px;
    position: relative;
}