
<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'" >
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://i.pinimg.com/564x/51/54/b0/5154b08df2dbe23cc14383aae4da9051.jpg" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h1 class="h3-responsive" class="titre1">Welcome to the National School <br/>of computer science</h1>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://i.pinimg.com/564x/ec/d4/db/ecd4db9b94ae99cabf6c0fe76dd5ada2.jpg" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption" >
        <h2 class="h3-responsive" >Create your university's environement <br/>Get started and login!</h2>
        <button type="button" mdbBtn color="light" mdbWavesEffect (click)="openLoginForm()" >Admin</button>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://i.pinimg.com/564x/70/08/01/7008019c187636c0889a217dcdd540cd.jpg" alt="Second slide">
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h2 class="h3-responsive">Get your work done and Login!</h2>
        <button type="button" mdbBtn color="light" mdbWavesEffect (click)="openLoginForm()">Student</button>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://i.pinimg.com/564x/c0/2e/b8/c02eb896869abb3bf2f3d4c436588537.jpg" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption"  >
        <h2 class="h3-responsive" class="buttons">Make your own class and login!</h2> 
        <div class="buttons"><button type="button" mdbBtn color="light" mdbWavesEffect (click)="openLoginForm()"  >Teacher</button></div>
      </div>
    </mdb-carousel-item>
 
  </mdb-carousel>
